@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root, :root[data-theme='dark'] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
  --secondary-border-color: #56575A;
  --green-color: #00ff00;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
  --primary-color: #0B0B0F;

	--primary-bg-color: #E9E9E9;
	--secondary-bg-color: #C7C8C9;
	--primary-border-color: #C7C8C9;
	--secondary-border-color: #9A9A9C;

	--title-color: #0B0B0F;
	--text-color: #28292E;
	--link-color: #28292E;
	--icon-color: #56575A;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}

html[data-theme='light'] .technologies__logo {
  filter: invert(80%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-bg-color) transparent;
}

body {
  background: var(--primary-bg-color);
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  /* display: block; */
}

a {
  text-decoration: none;
  color: var(--green-color);
}


i {
  color: var(--icon-color);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  z-index: 2;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
   cursor: pointer;
  transition: ease-in-out 2s;
}

.menu {
  display: flex;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.menu--item {
  width: 100%;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  gap: .3rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text 
{
  color: var(--primary-color);
  font-weight: 600;
  transition: .3s;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

main, .projects, .about, .contact {
  padding: 2.5rem 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 50px;
}




.menu__text {
  font-size: .75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}




@media (min-width: 768px) {
 
  .header{
    position: fixed;
    border-bottom: 1px solid var(--green-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }
  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }
}

@media (min-width: 1400px) {
  .header{
    padding: 1rem 15rem;
  }

}



footer {
  margin-bottom: 5rem;
}

footer p {
  color: white;
  font-size: .875rem;
  text-align: center;
  padding: 1rem;
}
footer p a:hover{
  color: white;
  transition: 1s;
}